/* Property CSS */
.PropertyPage {
    background-color: rgb(220, 220, 220);
    padding: 1rem;
  }
  
  .property-display-short{
    border: 1px gray solid;
    border-radius: 5px;
    min-width: 450px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    display:grid;
    vertical-align: top;
    background-color: white;
  }
  
  .property-form label {
      border-radius: 5px;
      padding: 5px;
      margin-right: 20px;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 15pt;
      width: 150px;
      display: inline-block;
      vertical-align: top;
  }
  
  .property-form input {
    border: 1px rgb(128, 128, 128) solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    }
  
    .property-form select {
      border: 1px rgb(128, 128, 128) solid;
      border-radius: 5px;
      padding: 5px;
      margin-right: 20px;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 15pt;
      width: 212px;
      display: inline-block;
      vertical-align: top;
      background-color: white;
      }
  
      .property-list label {
        border-radius: 5px;
        padding: 5px;
        margin-right: 20px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 15pt;
        width: 150px;
        display: inline-block;
        vertical-align: top;
    }    
      .property-list select {
        border: 1px rgb(128, 128, 128) solid;
        border-radius: 5px;
        padding: 5px;
        margin-right: 20px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 15pt;
        width: 212px;
        display: inline-block;
        vertical-align: top;
        background-color: white;
        }

      .property-list .searchFormVisible{
          max-height: 400px;
          -webkit-transition: max-height 1s;
          -moz-transition: max-height 1s;
          -ms-transition: max-height 1s;
          -o-transition: max-height 1s;
          overflow: hidden;
          transition: max-height 1s;
      }


      .property-list .searchFormInvisible {
          -webkit-transition: max-height 1s;
          -moz-transition: max-height 1s;
          -ms-transition: max-height 1s;
          -o-transition: max-height 1s;
          transition: max-height 1s;
          overflow: hidden;
          max-height: 0;
      }


      .container {
        display: grid;
        /*align-items: left; */
        grid-template-columns: 1fr 7fr;
        column-gap: 5px;
          /*width: fit-content;*/
       }
  
    .status-for-sale {
      background-color: green;
      max-width: fit-content;
      color: white;
      border: 1px solid black;
      text-align: center;
      border-radius: 5px;
        padding : 2px 10px;
    }
  
    .status-withdrawn {
      background-color: gray;
      max-width: fit-content;
      color: rgb(255, 255, 255);
      border: 1px solid black;
      text-align: center;
      border-radius: 5px;
        padding : 2px 10px;
    }
  
    .status-sold{
      background-color: red;
      max-width: fit-content;
      color: white;
      border: 1px solid black;
      text-align: center;
      border-radius: 5px;
        padding : 2px 10px;
    }


    /* test.css */

    .property-buttons {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
    
    }
    
    .property-button {
        max-width: 100px;
        font-size: .8rem;
        background-color: lightblue;
    }
    
    .delete-button {
        max-width: 100px;
        font-size: .8rem;
        background-color: darkred;
        color: white;
    }
    
    .edit-button {
        max-width: 100px;
        font-size: .8rem;
        background-color: yellow;
        color: black;
        text-align: center;
        margin-top: 20px;
        box-sizing: border-box;
    
    }
    .formContainer{
        max-width: fit-content;
    }
    
    .BuyerEditPage {
        padding: 1rem;
    }
    
    .SellerEditPage {
        padding: 1rem;
    }
    
    .PropertyEditPage {
        padding: 1rem;
    }


