.buyer-info i {
    color: darkblue;
    margin: 0 5px 0 5px;
}

.bookingBlock {
    border: 1px gray solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    display: inline-block;
    vertical-align: top;
}

.bookingBlock i {
    margin-right: 5px;
}