@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


.HomePage{
  max-width: 1200px;
  margin: auto;
}

.homeBox {
    padding: 0PX;
    position: relative;
    text-align: center;
    font-weight: bold;
    color: rgb(217, 217, 217);
  }

  .homeBox h1 {
    color: white;
    font-size: medium;
  }

  .top-left {
    position:absolute ;
    border-radius: 10px;
    border: 2px solid #ffffff;
    top: 10px;
    right: 40px;
    padding: 10px;
    background-color: rgba(45, 45, 45, 0.5);
    line-height: 30px;
    text-align:justify;
    width: 40%;
  }

  .footer{
    width: 100%;
    background-color: rgb(60, 60, 60);
    text-align: center;
    color: white;
    font-weight: bold;
    bottom: 0;
  }

  .footer h4{
    text-align: left;
    margin-left: 20px;
  }

  h6{
    color:cadetblue;
    font-family: 'Sail', cursive;
    font-size: x-large;
    text-align: center;
  }

  h2{
    font-family: 'Patua One', cursive;
  }