.BookingPage {
    background-color: rgb(220, 220, 220);
    padding: 1rem;
  }
  
  .booking-display-short{
    border: 1px gray solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    width: 90%;
    display:grid;
    vertical-align: top;
    background-color: white;
  }

  .formContainerBook{
      width: fit-content;
  }
  
  .booking-form label {
      border-radius: 5px;
      padding: 5px;
      margin-right: 20px;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 15pt;
      width: 100px;
      display: inline-block;
      vertical-align: top;
  }
  
  .booking-form input {
    border: 1px rgb(128, 128, 128) solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    width: 290px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    }

    .booking-form select {
        border: 1px rgb(128, 128, 128) solid;
        border-radius: 5px;
        padding: 5px;
        margin-right: 20px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 15pt;
        width: 302px;
        display: inline-block;
        vertical-align: top;
        background-color: white;
        }

        .BookingEditPage {
          background-color: rgb(220, 220, 220);
          padding: 1rem;
        }