  /*combined result list css*/


  .list-container{

  }


  .result-list{
    max-width: fit-content;
    min-width: 400px;

  }



  .result-card{
    border: 1px gray solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    /*width: 90%;*/
    display:grid;
    vertical-align: top;
    background-color: white;
  }