  /*combined result list css*/


  .list-container{

  }


  .result-list{
    max-width: fit-content;
    min-width: 400px;

  }



  .result-card{
    border: 1px gray solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    display:grid;
    vertical-align: top;
    background-color: white;

    align-items: flex-start;
    grid-template-columns: 200px auto;
    /*grid-auto-columns: auto;*/
    /*grid*/
    column-gap: 5px;
    /*max-width: fit-content;*/
  }


