/* Generic CSS */

body {
  background-color: rgb(244, 243, 243);
}

h1{
  text-align: center;
}

h5{
  padding:0;
  margin: 0;
}

.grid-container {
  max-width: 830px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button{
  border: 1px rgb(2, 88, 21) solid;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 392px;
  max-width: 807px;
  display: inline-block;
  vertical-align: top;
  background-color: rgb(5, 156, 58);
}

button:hover{
  color: white;
  background-color: rgb(2, 83, 30);
}

/* Navbar CSS */

a {
  color: black;
  text-decoration: none;
  /* box-shadow: 0 5px 5px; */
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12pt;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}

#east {
  color: black;
  box-shadow: 0 5px 5px;
  border: 2px rgb(77, 77, 77) solid;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  vertical-align: top;
  background-color: white;
}


a:hover {
  color: white;
  background-color: rgb(39, 39, 39);
  border-color: white;
  border: 1px solid;
}

.navbar {
  width: 100%;
  background-color: rgb(60, 60, 60);
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  margin: 10px;
}

.navbar li {
  float: center;
  align-items: right;
  text-align: center;
}

/* HomePage CSS*/

.homeBox {
  padding: 0PX;
  position: relative;
  text-align: center;
  font-weight: bold;
  color: rgb(217, 217, 217);
}

.homeBox h1 {
  color: white;
  font-size: medium;
}

.top-left {
  position:absolute ;
  border-radius: 10px;
  border: 2px solid #ffffff;
  top: 10px;
  right: 40px;
  padding: 10px;
  background-color: rgba(45, 45, 45, 0.5);
  line-height: 30px;
  text-align:justify;
  width: 40%;
}

.footer{
  width: 100%;
  background-color: rgb(60, 60, 60);
  text-align: center;
  color: white;
  font-weight: bold;
  bottom: 0;
}

.footer h4{
  text-align: left;
  margin-left: 20px;
}

/* Buyer CSS */

.BuyerPage {
  background-color: rgb(220, 220, 220);
  padding: 1rem;
}

.buyer-display-short{
  border: 1px gray solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 90%;
  display:grid;
  vertical-align: top;
  background-color: white;
}

.buyer-form label {
    /* border: 1px gray solid; */
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    width: 150px;
    display: inline-block;
    vertical-align: top;
    /* background-color: white; */
}

.buyer-form input {
  border: 1px rgb(128, 128, 128) solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  }

  /* Seller CSS */

.SellerPage {
  background-color: rgb(220, 220, 220);
  padding: 1rem;
}

.seller-display-short{
  border: 1px gray solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 90%;
  display:grid;
  vertical-align: top;
  background-color: white;
}

.seller-form label {
    /* border: 1px gray solid; */
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    width: 150px;
    display: inline-block;
    vertical-align: top;
    /* background-color: white; */
}

.seller-form input {
  border: 1px rgb(128, 128, 128) solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  }

  .formContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: small;
    justify-items: center;
  }
/* Property CSS */
.PropertyPage {
  background-color: rgb(220, 220, 220);
  padding: 1rem;
}

.property-display-short{
  border: 1px gray solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 90%;
  display:grid;
  vertical-align: top;
  background-color: white;
}

.property-form label {
    /* border: 1px gray solid; */
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    width: 150px;
    display: inline-block;
    vertical-align: top;
    /* background-color: white; */
}

.property-form input {
  border: 1px rgb(128, 128, 128) solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  }

  .property-form select {
    border: 1px rgb(128, 128, 128) solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    width: 212px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    }

    .container {
      display: grid;
      align-items: left; 
      grid-template-columns: 1fr 7fr;
      column-gap: 5px;
     }

  .status-for-sale {
    background-color: green;
    max-width: 100%;
    color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
  }

  .status-withdrawn {
    background-color: gray;
    max-width: 100%;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
  }

  .status-sold{
    background-color: red;
    max-width: 100%;
    color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
  }


  /* Media CSS - needs to be at the bottom */


  @media (max-width: 1000px) {
    .navbar {
      flex-direction: column;
      background-color: rgb(60, 60, 60);
    };
  }

  @media (max-width: 1000px) {
    #logo {
      display: none;
    };
  }

  @media (max-width: 1800px) {
    .formContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    };
  }
  
  @media (max-width: 1000px) {
    .formContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    };
  }

  @media (max-width: 1000px) {
    .reviews {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        font-size:x-small;
    };
  }