body {
  background-color: rgb(220, 220, 220);
}

a {
  color: black;
  text-decoration: none;
  border: 1px rgb(128, 128, 128) solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12pt;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}

a:hover {
  color: white;
  background-color: rgb(87, 87, 87);
}

.navbar {
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.navbar h1{
  background-color: aqua;
}

.navbar ul {
  list-style: none;
  margin: 10px;
}

.navbar li {
  float: center;
  align-items: right;
  text-align: center;
}

.BuyerPage {
  background-color: rgb(220, 220, 220);
  padding: 1rem;
}

.buyer-display-short{
  border: 1px gray solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 90%;
  display:grid;
  vertical-align: top;
  background-color: white;
}

.buyer-form label {
    border: 1px gray solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
}

.buyer-form input {
  border: 1px rgb(128, 128, 128) solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  }

button{
  border: 1px rgb(2, 88, 21) solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 212px;
  display: inline-block;
  vertical-align: top;
  background-color: rgb(5, 156, 58);
}

button:hover{
  color: white;
  background-color: rgb(2, 83, 30);
}

/* Property CSS */
.PropertyPage {
  background-color: rgb(220, 220, 220);
  padding: 1rem;
}

.property-display-short{
  border: 1px gray solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 90%;
  display:grid;
  vertical-align: top;
  background-color: white;
}

.property-form label {
    border: 1px gray solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
}

.property-form input {
  border: 1px rgb(128, 128, 128) solid;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15pt;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  }

  .property-form select {
    border: 1px rgb(128, 128, 128) solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15pt;
    width: 212px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    }

    .container {
      display: grid;
      align-items: center; 
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 5px;
     }

  .status-for-sale {
    background-color: green;
    max-width: 140px;
    color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
  }

  .status-withdrawn {
    background-color: gray;
    max-width: 140px;
    color: black;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
  }

  .status-sold{
    background-color: red;
    max-width: 140px;
    color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
  }
